@import "./utils/vars";
@import "./base/reset";
@import "./base/body";
@import "./components/logo";
@import "./components/link";
@import "./components/list";
@import "./components/container";
@import "./components/section";
@import "./components/btn";
@import "./components/modal";

@import "./layouts/header";
@import "./layouts/hero";
@import "./layouts/skills";
@import "./layouts/work";
@import "./layouts/team";
@import "./layouts/clients";
@import "./layouts/footer";
@import "./layouts/filter";
@import "./layouts/project";