   .logo{

        background: transparent;
        color: var(--blue--color);
    
        font-family: var(--logo--fonts);
        font-weight: 700;
        font-size: 24px;
        line-height: 28px;
        letter-spacing: 0.03em;

        @media screen and (min-width:1200px){
        font-size: 26px;
        line-height: 31px;}
    }