.list-btn{
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-bottom: 50px;
}

.btn-filter{
   padding: 6px 22px;
    
    font-family: var(--primery--fonts);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--title--color);
    border: none;
    outline: none;
    border-radius: 4px;
    cursor: pointer;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus{
        background: var(--blue--color);
        color: var(--white--color);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        }
    }
