.section__skills{
    @media screen and (min-width:1200px) {
    padding-bottom: 0;}
}
.skills__flex{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.skills__item{
    width: 100%;
    @media screen and (min-width:768px) {
        width: calc((100% - 30px) / 2);
    }
    @media screen and (min-width:1200px) {
        width: calc((100% - 90px) / 4);
    }
}
.skills__item::before{
    display: block;
    content:"";
    height: 120px;
    background-size: 70px 70px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--section--bg--color) ;
    border-radius: 4px;
}
.skills__icon-antenna::before{
    background-image: url(../images/antenna.svg);
}
.skills__icon-clock::before{
    background-image: url(../images/clock.svg);
}
.skills__icon-diagram::before{
    background-image: url(../images/diagram.svg);
}
.skills__icon-astronaut::before{
    background-image: url(../images/astronaut.svg);
}

.skills__title{
    margin-top: 30px;
    margin-bottom: 10px;
    
    font-weight: 700;
    line-height: 1.14;
    color: var(--title--color);
    text-align: center;
    
    @media screen and (min-width:768px) {
        text-align: left;
    }
    @media screen and (min-width:1200px) {
        text-align: left;
    }
}
.skills__p{
    margin-top: 0%;
    margin-bottom: 0%;
}