    :root {
        --primery--color:#757575;
        --title--color:#212121;
        --blac--color:#000000;
        --white--color:#FFFFFF;
        --blue--color:#2196F3;
        --btn--hover--color: #188ce8;
        --section--color:#2F303A;
        --body--bg--color:#F5F5F5;
        --card--bg--color:#EEEEEE;
        --section--bg--color:#F5F4FA;
        --icons--color: #AFB1B8;

        --logo--fonts:'Raleway', sans-serif;
        --primery--fonts:'Roboto', sans-serif;
        }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
        margin: 0;
    }

    ul {
        margin: 0;
        padding: 0;
    }
        
    img {
        display: block;
    }
    body {
        margin: 0;

    color:var(--primery--color) ;
    font-family: var(--primery--fonts);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    
    }

    .link{
        text-decoration: none;
    }

    .list{
        margin: 0;
        padding: 0;

        list-style: none;
    }

    /*header*/
    .header{
        border-bottom: 1px solid #ECECEC;
    }
    .container{
        padding-left: 15px;
        padding-right: 15px;
        margin: 0 auto;   
     
        width: 1200px;

    }

    .header-container{
        display: flex;
        align-items: center;
           }   


    .logo{
        margin-right: 93px;

        background: var(--white--color);
        color: var(--blue--color);

        font-family: var(--logo--fonts);
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
        letter-spacing: 0.03em;
    

    }
    .logo-part{
        color:var(--blac--color);
    }

    .nav-flex{
        display: flex;
        align-items: center;
        margin-right: auto;
    }

    .item-current{
        display: flex;
 
        }
    .nav-flex .item:not(:last-child){
            margin-right: 50px;
        }

    .nav-link {
        position: relative;
        display: block;
        padding-top: 32px;
        padding-bottom: 32px;
        color:var(--title--color);
        font-weight: 500;
        line-height: 1.14;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    }
    .nav-link:hover,
    .nav-link:focus{
        color: var(--blue--color);
    }

    .current{
        color: var(--blue--color);
    }

    .nav-link.current::after{
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;

        content:"";
        width:100%;
        transform: scaleX(1.1);
        height: 4px;
        border-radius: 2px;
        background-color: currentColor;
        
    }

    .address-flex{
        display: flex;
        align-items: center;
    }

    .address-flex .item:not(:last-child){
        margin-right: 50px;
    }
 
    .adres-nav{
        display: flex;

        color: var(--primery--color);
        font-weight: 500;
        line-height: 1.14;
        align-items: center;

        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
     
    }
    .adres-nav:hover,
    .adres-nav:focus{
        color: var(--blue--color);
    }
    .adres-nav-icons{
        margin-right: 10px;
        fill: currentColor;
    }
  
    /*main*/

    .section{
        padding-top: 94px;
        padding-bottom: 94px;
    }
    
    /*section hero*/
    .hero{
        max-width: 1600px;
        height: 600px;
        margin-left: auto;
        margin-right: auto;
        padding-top: 200px;
        padding-bottom: 200px;

    background: var(--section--color);
    background-image:linear-gradient(rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)),
    url(../images/fon_hero.jpg) ;
    text-align: center;
    

    }
    .title-hero{
    margin: 0 auto;
    color: var(--white--color);     
    width: 696px;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;

    letter-spacing: 0.06em;
    text-transform: uppercase;
    }
    .hero-button{
        display: inline-block;
        margin-top: 30px;

        background-color: var(--blue--color);
        color: var(--white--color);
        font-family: var(--primery--fonts);
        font-weight: 700;
        font-size: 16px;
        line-height: 1.87;
    
        cursor: pointer;
        border: none;
        border-radius: 4px;
        padding: 10px 32px;
        min-width: 216px;

        transition:background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

        }
    .hero-button:hover,
    .hero-button:focus{
        background-color: var(--btn--hover--color);
        }

            /*section Skills*/


    .skills{
        padding-bottom: 0;
    }
    .skills-flex{
        display: flex;
    }
    .item-skills::before{
        display: block;
        content:"";
        height: 120px;
        background-size: 70px 70px;
        background-repeat: no-repeat;
        background-position: center;
        background-color: var(--section--bg--color) ;
        border-radius: 4px;
    }
    .icon-antenna::before{
        background-image: url(../images/antenna.svg);
    }
    .icon-clock::before{
        background-image: url(../images/clock.svg);
    }
    .icon-diagram::before{
        background-image: url(../images/diagram.svg);
    }
    .icon-astronaut::before{
        background-image: url(../images/astronaut.svg);
    }
    .item-skills:not(:last-child){
        margin-right: 30px;
    }
    .title-skills{
        margin-top: 30px;
        margin-bottom: 10px;
        
        font-weight: 700;
        line-height: 1.14;
        color: var(--title--color);
    }
    .p-skills{
        margin-top: 0%;
        margin-bottom: 0%;
    }
    /*section work*/
    .title-work{
        margin-top: 0%;
        margin-bottom: 50px;
       
        font-weight: 700;
        font-size: 36px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        color: var(--title--color);
        text-align: center;
    }

    .work-flex{
        display: flex;  
        gap: 30px;
    }
    .item-work{
    position: relative;
    display: block;
 
}

    .koment{
        position: absolute;
        bottom: 0px;

        padding: 27px 0;

        width: 100%;
        height: 70px;
        background-color: rgba(47, 48, 58, 0.8);;

font-weight: 700;
font-size: 14px;
line-height: 16px;
text-align: center;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--white--color);
    }
    

    /*section team*/
    .team-flex{
        display: flex;
        justify-content: center;
        gap: 30px;
    }
    .team{
    background: var(--section--bg--color);
    }
    
    .li-team{
        background: var(--white--color);
        width: 270px;
        text-align: center;
        box-shadow:0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }
    
    .title-name{
        margin-bottom: 10px;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.19;
        letter-spacing: 0.03em;
        color: var(--title--color);
    }
    .office{
       margin-bottom: 16px;
        font-size: 16px;
        letter-spacing: 0.03em;
        line-height: 1.19; 
        }

    .wrap-name{ 
        
        padding: 30px 0px;
  
        }
    .team-soc-list{
        display: flex;
        justify-content: center;
        gap: 10px;
        }
    .team-soc-item{
         width: 44px;
         height: 44px;
        }
    .team-soc-link{
        display: flex;
        align-items: center;
        justify-content: center;

        width: 100%;
        height: 100%;
        background:transparent;
        border-radius: 50%;
        color: var(--icons--color);

        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
         color 250ms cubic-bezier(0.4, 0, 0.2, 1);

        }
    .team-soc-icons{
        fill:currentColor ;
        }
    .team-soc-link:hover,
    .team-soc-link:focus{
    background-color: var(--blue--color);
    color: var(--white--color);
        }


    /*клієнти*/
    .client-logo-list{
        display: flex;
        justify-content: center;
        gap: 30px;
    }
    .client-logo-item{
        width: 170px;
        height: 92px;

    }
    .client-logo-link{
        display: flex;
        align-items: center;
        justify-content: center;

        width: 100%;
        height: 100%;
        background:transparent;  
        color: var(--icons--color);
        border: 1px solid var(--icons--color);
        border-radius: 4px;  

        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .client-logo-icons{
        fill: currentColor; 
    }
    .client-logo-link:hover,
    .client-logo-link:focus{
    border-color: var(--blue--color);
    color: var(--blue--color);}


    /*footer*/
    .footer {
        background: var(--section--color);
        margin: 0;
    }
    .container-flex{
        display: flex;
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .footer-container{
        margin-right: 70px;
    }

    .logo-footer{
        color: var(--white--color);
    }

    .address{
        margin-top: 20px;
        font-style: normal;
    }
    .adres{
    
        font-style: normal;
        letter-spacing: 0.03em;
        color: var(--white--color);

        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .li-address:not(:last-child){
    margin-bottom: 9px;
    }
    .adres-footer{
    
        letter-spacing: 0.03em;
        color: rgba(255, 255, 255, 0.6);

        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .adres:hover,
    .adres:focus{
        color: var(--blue--color);
    }
    .adres-footer:hover,
    .adres-footer:focus{
        color: var(--blue--color);

    }
    .footer-soc-container{}
    .title-futer{
        margin-bottom: 20px;
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.03em;
        text-transform: uppercase;  

        color:var(--white--color);
    }
   .footer-soc-list{
        display: flex;
        justify-content: center;
        gap: 10px;
   } 
   .footer-soc-item{
        width: 44px;
        height: 44px;
   }
    .footer-soc-link{
        display: flex;
        align-items: center;
        justify-content: center;

        width: 100%;
        height: 100%;
        background:rgba(255, 255, 255, 0.1);
        border-radius: 50%;

        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .footer-soc-icons{
        fill: var(--white--color);
    }
    .footer-soc-link:hover,
    .footer-soc-link:focus{
        background-color: var(--blue--color);
            }
    

    /*portfolio.html*/

    .list-btn{
        display: flex;
        justify-content: center;
        gap: 8px;
        margin-bottom: 50px;
    }

    .btn-filter{
       padding: 6px 22px;
        
        font-family: var(--primery--fonts);
        font-weight: 500;
        font-size: 16px;
        line-height: 1.16;
        letter-spacing: 0.03em;
        text-align: center;
        color: var(--title--color);
        border: none;
        border-radius: 4px;
        cursor: pointer;

        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    .btn-filter:hover,
    .btn-filter:focus{
        background: var(--blue--color);
        color: var(--white--color);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        }

    .wrap-flex{
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        }
    .li-project{
        position: relative;
        overflow: hidden;
        width: 370px;

        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
        .li-project:hover,
        .li-project:focus{
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        }

    .wrap-card{

        border-left: 1px solid var(--card--bg--color);
        border-bottom: 1px solid var(--card--bg--color);
        border-right: 1px solid var(--card--bg--color);
           
        padding: 20px 24px;
        }   

    .card{
        text-decoration: none;  
        
        }
    .title-card{
        margin-top:0px;
        margin-bottom: 4px;
        font-weight: 700;
        font-size: 18px;
        line-height: 2;
        letter-spacing: 0.06em;
        color: var(--title--color);
        }
    .p-card{
        margin-top: 0px;
        margin-bottom: 0px;
        font-size: 16px;
        line-height: 1.87;
        letter-spacing: 0.03em;
        color: var(--primery--color);
        }
    .box{
        position: relative;
        overflow: hidden;
        width: 370px;
    }
    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(33, 150, 243, 0.9);
      
        transform: translatey(100%);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
        
        padding: 63px 24px;
        font-size: 18px;
        line-height: 28px;
        letter-spacing: 0.03em;
        color: var(--white--color);
    }
    .li-project:hover .overlay,
    .li-project:focus .overlay{
        transform: translatey(0);
    }
    .backdrop{
        position: fixed;
        top:0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.2);

        transition: opacity 500ms linear, visibility 500ms linear;
    }
    .modal{
        position: absolute;
        top: 50%;
        left: 50%;

        width: 528px;
        min-height: 581px;
        background-color: var(--white--color);
        border-radius: 4px;

        transform: translate(-50%,-50%) scale(1);
        transition: transform 550ms linear;

    }

    .backdrop .is-hidden .modal{
        transform: translate(-50%,-50%) scale(0); 
    }

    .modal-close{
        position: absolute;
        right: 8px;
        top: 8px;

        display: flex;
        align-items: center;
        justify-content: center;

        width: 30px;
        height: 30px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 50%;
        background-color: transparent;
        fill: var(--blac--color);
        box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
        cursor: pointer;

        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .modal-close:hover,
    .modal-close:focus{
        background-color: var(--btn--hover--color);
        fill: var(--white--color);
    }
    .is-hidden{
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }